body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../src/assets/Rectangle-2.png");
  background-repeat: no-repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
